<div class="list">
  <h1>CLICK TO EDIT:</h1>

  <h2>ALL GARMENTS</h2>

  <% @garments.each do |garment| %>
    <%= link_to "#{garment.name.downcase}", edit_admin_garment_path(garment) %>
    <br>
  <% end %>

  <h2>ALL BREEDS</h2>

  <% @breeds.each do |breed| %>
    <%= link_to "#{breed.name.downcase}", edit_admin_breed_path(breed)%>
    <br>
  <% end %>
</div>
