<%= image_tag("handmeups.png", class: "img-responsive center-block" ) %>

<div id="logo-home">
  <h1>
    Custom natural clothing,<br>
    handed up from our sellers to you.
  </h1>
</div>

<h2 class="text-center">Categories</h2>
<div class="text-center">
  <% @breeds.each do |breed| %>
    <%= link_to "#{breed.name}", "breeds/#{breed.name.downcase}"%>&nbsp;&nbsp;
  <% end %>
</div>
<h2 class="text-center">Featured Stores</h2>
<div class="masonry-container center-block" id="seller-container">
  <br>
  <br>
  <br>
  <br>
  <% @sellers.each do |seller| %>
    <div class="item">
      <%= link_to image_tag("croctee.jpg"), seller_path(slug: seller.slug) %>
    </div>
  <% end %>
</div>
<br>

<h2 class="text-center">Top Sellers</h2>
<div class="masonry-container center-block" id="garment-container">
  <% @cats.each do |cat| %>
    <div class="item">
      <%= link_to image_tag(cat.image_path), seller_cat_path(slug: cat.slug, id: cat.id) %>
    </div>
    <br>
    <br>
    <br>
  <% end %>
</div>

