<%= image_tag("handmeups.png", class: "img-responsive center-block" ) %>

<div id="logo-home">
  <h1>Clothes from us to each other. Hand Me Ups® delivers handmade all natural custom clothing.<h1>
</div>

<h2>CATEGORIES</h2>

<div class="list">
  <% @breeds.each do |breed| %>
    <%= link_to "#{breed.name}", "breeds/#{breed.name.downcase}"%>
    </br>
  <% end %>
</div>

<h2>Top 20 Garments</h2>

<div class="list">
  <% @cats.each do |cat| %>
    <%= link_to "#{cat.name}", "cats/#{cat.id}" %>
    </br>
  <% end %>
</div>

<h2>Top 3 Sellers</h2>

<div class="list">
  <% @sellers.each do |seller| %>
    <%= link_to "#{seller.name}", "/#{seller.slug}" %>
    </br>
  <% end %>
</div>
