<%= image_tag("hand.png", class: "img-responsive center-block img-home" ) %>

<div id="logo-home">
  <h1 class="text-center">
    Custom natural clothing,<br>
    handed up from our sellers to you.
  </h1>
</div>

<div class="salmon-bottom">
  <h2 class="text-center top">Featured Stores</h2>
</div>
<div class="masonry-container center-block" id="seller-container">
  <br>
  <br>
  <br>
  <br>
  <% @sellers.each do |seller| %>
    <div class="item">
      <%= link_to image_tag("croctee.jpg"), seller_path(slug: seller.slug) %>
    </div>
  <% end %>
</div>
<br>

<div class="salmon-bottom">
  <h2 class="text-center top">Top Sellers</h2>
</div>
<div class="masonry-container center-block" id="garment-container">
  <% @garments.each do |garment| %>
    <div class="item">
      <%= link_to image_tag(garment.image_path), seller_garment_path(slug: garment.slug, id: garment.id) %>
    </div>
    <br>
    <br>
    <br>
  <% end %>
</div>

