<h3 class="text-center">BROWSE ALL GARMENTS</h3>
<div class="masonry-container" class="text-center">
  <% @garments.each do |garment| %>
    <div class="item">
      <%= link_to image_tag(garment.image_path), seller_garment_path(id: garment.id, slug: garment.slug) %>
      <figcaption>
        <%= link_to garment.name, seller_garment_path(id: garment.id, slug: garment.slug) %>
      </figcaption>
    </div>
  <% end %>
</div>
