@import "bootstrap-sprockets";
@import "bootstrap";

$salmon: #BF7582;
$plum: #4C4A59;
$sand: #F2DFCE;
$light-sand: #FAF3ED;
$peach: #D99B84;
$brown: #734A40;
$teal: #75bfb2;

body {
  font-family: "Helvetica", sans-serif;
  color: $plum;
  background-color: $sand;
	/*background-image: url("background-image.jpg");*/
}

.shrink {
  margin-top: -10px;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  transition: 3s;
}

.shrink {
  width: 50px;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  transition: 3s;
}

form {
  margin: auto;
}

.modal-content {
  background-color: $sand;
  width: 300px;
  margin: auto;
  margin-top: 35%;
}

.align-text-center {
  text-align: center;
}
.btn-danger {
  background-color: $salmon;
  border-color: $salmon;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: $salmon;
  border-color: $salmon;
}

.btn-success {
  background-color: $teal;
  border-color: $teal;
}

.btn-success:hover, .btn-success:focus {
  background-color: $teal;
  border-color: $teal;
}

.form-control {
  width: 180px;
}

.navbar{
  background-color: $plum;
}

.container#main-container {
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-inverse .navbar-nav > li > a  {
  font-weight: bold;
  color: $salmon;
}

.navbar-inverse .navbar-nav > li > a:hover,a:focus  {
  color: $sand;
}

.yield-style {
  font-size: 1.5em;
}

.list {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}

.btn-long {
  padding-left: 40px;
  padding-right: 40px;
}


h1,h2,h3 {
  font-size: 1.5em;
}

#logo-home > h1 {
  font-size: 2.3em;
}

#order-title {
  float: right;
}

a {
  color: rgba(50,50,50,.5);
  text-decoration: none;
}

a:hover {
  color: rgba(50,50,50,1);
  text-decoration: none;
}

.carousel {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel img {
  max-width: 100%;
  height: 400px;
  overflow: hidden;
  text-align: center;
}

.image-garment-single img {
  max-height: 450px;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 2px;
  border: 6px solid $plum;
}

.item img {
  width: 300px;
  height: auto;
}

.item img:hover {
  opacity: 0.75;
}

.item:hover {
  box-shadow: 0px 0px 0px #888888;
  margin-left: 20px;
  margin-top: 20px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.item a {
  color: $sand;
  text-align: center;
}

.item figcaption {
  background-color: $plum;
}

.item {
  box-shadow: 10px 10px 5px #888888;
  display: block;
  float: left;
  width: 300px;
  /*margin-right: 20px;*/
  margin-top: 20px;
  -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}

.masonry-container {
  display: inline;
}

#store-nav {
  margin-right: 30px;
  margin-bottom: 20px;
}

.inline {
  display: inline;
}

#seller-profile img {
  width: 300px;
}

#seller-profile {
  background-color: $plum;
  color: $sand;
  width: 300px;
  margin-top: 120px;
  border: 2px solid $plum;
}

#seller-banner {
}

.caption{
  margin-left: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#image-center {
  margin-left: 50px;
}
