@import "bootstrap-sprockets";
@import "bootstrap";

$salmon: #BF7582;
$plum: #4C4A59;
$sand: #F2DFCE;
$light-sand: #FAF3ED;
$peach: #D99B84;
$brown: #734A40;
$teal: #75bfb2;
$light-teal: #abd8d0;

body {
  font-family: "Helvetica", sans-serif;
  color: $plum;
  background-image: url("texture_background4.jpg");
  background-repeat: repeat-y;
  background-color: $sand;
}

.garment-form {
  margin-left: 15%;
}

#store-create-btn {
  margin-top: 30px;
  margin-left: 520px;
  margin-right: 520px;
}

.roundrect {
  border-radius: 15px;
}

#logo {
  margin-top: -6px;
  margin-right: -8px;
}

.navbar {
  border-bottom: 10px solid $salmon;
}

.salmon-bottom {
  border-bottom: 10px solid $salmon;
  margin-left: 35%;
  margin-right: 35%;
}
#big-title {
  color: $salmon;
  font-size: 35px;
  margin-top: 8px;
}

form {
  margin: auto;
}

.modal-content {
  background-color: $sand;
  width: 300px;
  margin: auto;
  margin-top: 35%;
}

.align-text-center {
  text-align: center;
}
.btn-danger {
  background-color: $salmon;
  border-color: $salmon;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: $salmon;
  border-color: $salmon;
}

.btn-success {
  background-color: $teal;
  border-color: $teal;
}

.btn-success:hover, .btn-success:focus {
  background-color: $teal;
  border-color: $teal;
}

.form-control {
  width: 180px;
}

.navbar{
  background-color: $plum;
}

.container#main-container {
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-inverse .navbar-nav > li > a  {
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
  color: $teal;
}

.navbar-inverse .navbar-nav > li > a:hover,a:focus  {
  color: $salmon;
}

.yield-style {
  font-size: 1.5em;
}

.list {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}

.btn-long {
  padding-left: 40px;
  padding-right: 40px;
}


h1,h2,h3 {
  font-size: 1.5em;
}

h2 {
  color: $plum;
  padding: 3px;
}

#logo-home > h1 {
  font-size: 2.3em;
}
.header {
  display: table;
  position: relative;
  margin-top: -12px;
  width: 100%;
  height: 625px;
  background: image-url("front_page5.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.text-vertical-center {
  display: table-cell;
  vertical-align: middle;
  color: $light-sand;
  padding-top: 100px;
}

.text-vertical-center h1 {
  padding-left: 10px;
  padding-bottom: 55px;
  font-size: 2em;
  font-weight: 700;
  color: $light-sand;

}

#link-vertical-center  {
  font-size: medium;
  font-weight: bold;
  color: $light-teal;
}

#order-title {
  margin-right: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

a {
  color: rgba(50,50,50,.5);
  text-decoration: none;
}

a:hover {
  color: rgba(50,50,50,1);
  text-decoration: none;
}

.carousel {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel img {
  max-width: 100%;
  height: 400px;
  overflow: hidden;
  text-align: center;
}

.image-garment-single img {
  max-height: 450px;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 2px;
  border: 6px solid $plum;
}

.item img {
  width: 300px;
  height: auto;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.item img:hover {
  opacity: 0.75;
}

.item:hover {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}

.item a {
  color: $teal;
  text-align: center;
}

.item figcaption {
  padding: 3px;
  background-color: $plum;
  text-align: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.item {
  display: block;
  float: left;
  width: 300px;
  margin-top: 20px;
  -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}

.masonry-container {
  display: inline;
}

#store-nav {
  margin-right: 30px;
  margin-bottom: 20px;
}

.inline {
  display: inline;
}

#seller-profile img {
  width: 250px;
  border-top: 10px solid $plum;
  border-left: 10px solid $plum;
  border-right: 10px solid $plum;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#seller-profile {
  background-color: $plum;
  color: $teal;
  width: 250px;
  margin-top: 53px;
  margin-right: 20px;
  margin-left: 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#seller-banner {
}

.caption{
  margin-left: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#image-center {
  margin-left: 50px;
}

#garment-create {
  margin-left: 500px;
  margin-right: 500px;
}

.top {
  margin-top: 5px;
}

.big-top {
  margin-top: 30px;
}

.img-home {
  max-height: 200px;
}
