
<div id="category-single" class="align-text-center">

  <h1> <%= @category.name.capitalize %> </h1>

  <div class="masonry-container center-block" id="garment-container">
    <% @garments.each do |garment| %>
      <div class="item">
        <%= link_to image_tag(garment.image_path), seller_garment_path(id: garment.id, slug: garment.slug) %>
        <figcaption>
        <%= link_to garment.name, seller_garment_path(id: garment.id, slug: garment.slug) %>
        </figcaption>
      </div>
    <% end %>
  </div>
</div>
